<p>Bonjour, merci de votre commande chez ARdeco {{ name }},</p>
<p>Ci joint le contenu la facture de votre commande d'un total de {{ total }}</p>


<p>Si vous avez un probleme n'hésiter pas a contacter le support</p>
<p>L'équipe ARdeco</p>