{{#if user}}
<p>Bonjour {{user}},</p>
{{else}}
<p>Cher(e) utilisateur(trice),</p>
{{/if}}

<p>Nous sommes ravis de vous accueillir dans notre communauté ! Votre inscription est une étape importante, et nous sommes impatients de partager avec vous tout ce que notre plateforme a à offrir.</p>

{{#if email}}
<p>Votre adresse e-mail enregistrée est : {{email}}.</p>
{{/if}}

<p>N'hésitez pas à explorer notre site et à profiter de toutes les fonctionnalités que nous mettons à votre disposition. Si vous avez des questions ou rencontrez des difficultés, n'hésitez pas à nous contacter à l'adresse suivante : ardeco.officiel@gmail.com</p>

<p>Encore une fois, bienvenue parmi nous !</p>

<p>Cordialement,</p>
<p>L'équipe Ardeco</p>
