<p>Bonjour {{ name }}, merci pour votre commande (n°{{ order_id }}) chez ARDeco !</p><
<p>Veuillez trouver ci-joint la facture de votre commande d'un total de {{ total }}€.</p>

<p>En cas de problème, n'hésitez pas à contacter le support accessible directement depuis le site ou l'application mobile.</p>

<p>Au plaisir de vous revoir prochainement,<p>
<p>L'équipe ARDeco</p>