{{#if user}}
<p>Bonjour {{user}},</p>
{{else}}
<p>Cher(e) utilisateur(trice),</p>
{{/if}}

<p>Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte. Si vous n'avez pas initié cette demande, veuillez ignorer cet e-mail.</p>

<p>Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>

<p>https://ardeco.app/reset</p>

<p>Rentrez votre token dans le champ correspondant et votre nouveau mot de passe</p>

<p>Votre token : {{token}}</p>

<p>Si vous rencontrez des problèmes ou avez des questions, n'hésitez pas à nous contacter à l'adresse suivante : ardeco.officiel@gmail.com</p>

<p>Cordialement,</p>
<p>L'équipe Ardeco</p>